@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }

:root{
    --color-title:#000;
    --color-text:grey;
    --color-price: red;
    --color-botton:orange;
    --font-size: 18px;
    --margin-btm: 20px;
    font-family: 'Raleway', sans-serif;   
}  

main{
    background-color: #E5E8E7;
}

.conteiner__nav{
    display: none;
}

/* .logo{
    width: 10%;
} */

.conteiner__slider{
    width: 90%;
    overflow: hidden;
    margin: auto;
    border-radius: 20%;  
    padding: 15px 0;
    
}

.conteiner__slider ul{
    display: flex;
    width: 400%;
    animation: slider 10s infinite alternate;
    
}

.conteiner__slider li{
    width: 100%;
}

.conteiner__slider img{
    width: 100%;
    height: 100%;
}

@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.conteiner__categorias{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.conteiner__categorias a{    
    margin: auto;
    transition: 2s;
    text-align: center;       
}
.conteiner__categorias h2{
    color: black;
}



.conteiner__categorias a:hover{
    transform: scale(1.2);
}

.var{
    text-align: center;
    color: rgba(12, 74, 97, 0.718);
}

.conteiner__categorias a:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
}
.conteiner__categorias a:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}
.conteiner__categorias a:nth-child(3){
    grid-column: 1/2;
    grid-row: 3/4;
}
.conteiner__categorias a:nth-child(4){
    grid-column: 2/3;
    grid-row: 3/4;
}


.conteiner__categorias img{
    width: 85px;
    height: 85px; 
    border-radius: 50%;
    border: 3px solid black;
}

.conteiner__store{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    gap: 1rem;
}

.conteiner__store__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid rgb(76, 75, 75);
    outline: 6px dashed rgb(9, 9, 9);
    box-shadow: 0 0 0 6px rgba(12, 74, 97, 0.718);
    border-radius: 1rem;
    height: 300px;
    overflow: hidden;
    outline: 6px dashed rgb(9, 9, 9);
    box-shadow: 0 0 0 6px rgba(12, 74, 97, 0.718);
    animation: 1s animateBorder infinite;
    
}

@keyframes animateBorder {
    to {
      outline-color: rgba(12, 74, 97, 0.718);
      box-shadow: 0 0 0 6px rgb(9, 9, 9);
    }
  }

.conteiner__store__card-img img{
    width: 100%;
    height: 200px;
     
}

.conteiner__store__card h3{
   display: flex;
   align-self: center;
}

.conteiner__store p{
    align-self: center;
}

.btn__add{
    cursor: pointer;
    border-style: none;
   color:rgba(12, 74, 97, 0.718);
   font-size: 1rem;
   padding: 0.5rem;
}

.conteiner__top-sellers{
    width: 60%;
    overflow: hidden;
    margin: auto;
    padding-top: 1rem;
    margin-bottom: 3rem;
    
        
}

.conteiner__top-sellers{
    text-align: center;
    
}

.conteiner__top-sellers ul{
    display: flex;
    width: 400%;
    animation: slider 15s infinite alternate;
}

.conteiner__top-sellers li{
    width: 100%;
    
   
    
}

.conteiner__top-sellers img{
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.conteiner__social{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.conteiner__social-icons{
    display: flex;
    gap: 1rem;
    font-size: 25px;
    align-items: center;
}

.nav__shop{
    margin-top: var(--margin-btm);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    z-index: 3000;
    position: fixed;
    bottom: 0;
    margin: auto;
    padding: 0 1 rem;
    background-color: aliceblue;
    opacity: 70%;
    height: 6%;
    font-size: 1rem;
}

.nav__shop-items{
    font-size: 20px;
}

.aside__cart{
    width: 50%;
    height: 94%;
    position: fixed;
    background-color:rgba(253, 173, 61,50%);
    
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.5s;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    
}

.aside__cart-show{
    transform: translateX(0%);
}

.aside__cart-body{
    height: 96%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    overflow-y: scroll;
    align-items: center;
}
.asside__cart-total{
    height: 4%;   
}

.item__cart{
    padding: 1rem;
    text-align: center;
    background-color: #5d2417;
    border-radius: 1rem;
    width: 50%;
    
}

.item__cart-img{
   width: 100%;
   
}

.item__cart-img img{
    width: 100%;
    
}

.item__cart-tittle,
.item__cart-options{
    color:#320000
}

@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    75%{margin-left: -200%;}

    80%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@media (min-width:700px){
    .conteiner__nav{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(4,1fr);
        
    }

    .logo{
        width: 100%;
        height: 150px;
        grid-column: 1/2;
    }
    
    .conteiner__nav__menu {
        grid-column: 3/6;
        display: flex; 
        
    }

    .conteiner__nav__menu ul{
        display: flex;
        gap: 1rem;
        align-items: center;
        font-size: 1.5rem;
        
    }

    .conteiner__nav__menu a:hover{
        transition: 0.5;
        font-size: 2rem;
        color: black;
    }

    .conteiner__nav__menu a{
        color: rgba(12, 74, 97, 0.718);
        
    }

    .conteiner__slider{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%;
    }

    .conteiner__slider img{
       height: 400px;
    
    }    

    .var{
        text-align: center;
        padding: 1rem;
        color: rgba(12, 74, 97, 0.718);
        font-size: 1.5rem;
    }

    .conteiner__categorias{
       display: flex;
       
    }

    .conteiner__top-sellers{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 50%; 
        box-shadow: 5px 5px 15px 5px #7f7979;
        margin: auto;
        padding: 1rem;
    }

    .separador{
        height: 100px;
    }

    .conteiner__top-sellers img{
        height: 400px;
        width: 200px;
    }

    .aside__cart{
        width: 40%;
    }
   

   .item__cart{
    width: 30%
    
   }

   .nav__shop{
    height: 10%;
   }
}